<section class="w-full md:pt-44 pt-36 md:px-24 px-5 pb-16">
  <div class="flex w-full md:rounded-3xl relative sm:h-[75vh] lg:h-[60vh] items-center justify-center md:p-0 p-8">
    <div class="w-full h-full absolute md:rounded-3xl left-0 top-0 bg-gradient-to-br from-[#1e40af] to-[#701a75] z-10" />
    <div class="flex flex-col gap-8 md:w-[92%] lg:w-[85%] w-full z-20">
      <span class="font-bold md:text-[60px] text-center text-white text-[50px] max-w-full md:leading-[80px] leading-[70px]">
        Join the Community today
      </span>
      <p class="leading-7 text-white text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, consectetur enim numquam sapiente libero veritatis repellendus, esse molestiae eaque quae aut itaque rerum saepe accusantium inventore explicabo recusandae veniam!
      </p>
      <button class="bg-blue-600 text-white rounded-lg px-8 h-12 max-w-[180px] self-center whitespace-nowrap">
        Sign Up For Free
      </button>
    </div>
  </div>
</section>