---
  const links = [
    { title: "Products", path: "/" },
    { title: "Solutions", path: "/solutions" },
    { title: "Services", path: "/services" },
    { title: "Help Center", path: "/helpcenter" },
    { title: "Pricing", path: "/pricing" }
  ];
---

<header class="w-full h-24 px-5 flex items-center justify-between border-b border-slate-300">
  <span class="text-xl font-bold text-gray-800 md:text-2xl">Magnificus</span>
  <div class="hidden lg:flex items-center gap-6">
    {links.map((link) => {
      return (
        <a class="font-medium text-[15px]" href={link.path}>{link.title}</a>
      )
    })}
  </div>
  <div class="flex items-center gap-5">
    <a href="/login" class="text-sm text-blue-600 font-semibold sm:text-base ">Log in</a>
    <button class="text-sm w-32 h-10 bg-blue-600 text-white rounded-lg sm:text-base sm:w-36 sm:h-12">Sign Up for Free</button>
  </div>
</header>
