---
import WorkflowImage from '../images/workflow.png'
---

<section class="w-full md:pt-44 pt-36 md:px-24 px-5 flex md:flex-row flex-col items-center md:justify-around justify-center md:gap-0 gap-10">
  <div class="flex flex-col gap-5 md:w-[35%] w-full">
    <span class="font-bold md:text-[75px] text-[50px] max-w-full md:leading-[90px] leading-[70px]">
      Improve your Workflow
    </span>
    <p class="leading-7 text-gray-600 md:max-w-[580px] max-w-[95%]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio perspiciatis animi soluta ratione obcaecati officia nostrum maiores doloremque? Adipisci magni quis, molestiae ducimus recusandae quaerat dolor iusto! Itaque, nostrum voluptatum.
    </p>
    <a href="#" class="text-blue-600 font-semibold hover:underline">
      Check the Tools
    </a>
  </div>
  <img src={WorkflowImage.src} class="md:w-[35%] w-full" alt="workflow">
</section>